[2015-02-13 17:58] porteriffic opened #1 "Update to Audiolats"
Here some modifications for the CD web site.
AUDIOLATS
- the subtitle is :
Leonardo/Olats sound bites series
La collection de publications sonores de Leonardo/Olats

- in the introductory blurb in English, could you change "Introducting..." by "Meeting ..."

- French description
It would be nice if you could add the French description. I think it is important both for CD and for Olats.
Here it is.

[2015-02-13 22:04] cassininazir commented on #1
Josephine, noticed that you self-assigned this task. Feel free to assign to a member of the dev team.

[2015-02-13 22:58] porteriffic commented on #1
Cassini,
For some reason I can't see any of the dev team when click on "Assignee".

[2015-02-13 23:25] cassininazir commented on #1
Haven't heard back from them as yet. Need their Git usernames.

Sent from my iPhone

On Feb 13, 2015, at 4:58 PM, porteriffic <notifications@github.com<mailto:notifications@github.com>> wrote:

Cassini,
For some reason I can't see any of the dev team when click on "Assignee".

�
Reply to this email directly or view it on GitHub<https://github.com/creativedisturbance/public-website/issues/1#issueco

[2015-02-16 19:42] cassininazir opened #2 "Forward creativedisturbance.org/audiolats to Audiolats page"
Now that the Audiolats page is live please auto redirect

creativedisturbance.org/audiolats

to

http://www.olats.org/audiolats/audiolats.php

[2015-02-18 16:15] cassininazir opened #3 "Podcast Description for Big Design Conf"
_From @cassininazir on February 16, 2015 19:59_

_Copied from original issue: cassininazir/creativedisturbance#107_

[2015-02-18 21:20] cassininazir opened #4 "Add Social Media Sites for Users"

[2015-03-02 18:36] cassininazir opened #5 "Update FAQ"
Add:

How to become a Producer
How to add a podcast

[2015-03-02 20:36] cassininazir opened #6 "Install a WordPress Theme for Experimental Space and Post a Sample Experiment"
_From @cassininazir on February 18, 2015 21:3_

_Copied from original issue: cassininazir/creativedisturbance#109_

[2015-03-02 20:36] cassininazir commented on #6
@vivraman Add a link here to the theme you mentioned. Get input from podcast team and Scot GL. Will then purchase.

[2015-03-02 20:36] cassininazir opened #7 "Meet the Team Page - Updates"
_From @heiwanalady on February 13, 2015 18:39_

Need to add Josephine, Corey, and Ashton.
I have asked them to send me or Vivek their short bios. (Stephanie can help with this)

Also need to set up a "Former Student / Lab Interns" (put Stephen Witt in there - as he no longer works for us).

_Copied from original issue: cassininazir/creativedisturbance#104_

[2015-03-02 20:36] cassininazir commented on #7
Received Josey's. Waiting for the Hal, Ashton and Corey.

[2015-03-02 20:36] cassininazir commented on #7
_From @vivraman on February 16, 2015 18:14_

Also would like to include CD Alumni (don't need their photos):

Cathryn Ploehn
http://creativedisturbance.org/meet-the-team/

[2015-03-02 20:36] cassininazir opened #8 "Create new channel for Cellphonia"
_From @cassininazir on January 30, 2015 18:34_

When Stephanie completes the album artwork, please create the Channel for this. Work with sound team on when this will go out.

_Copied from original issue: cassininazir/creativedisturbance#70_

[2015-03-02 20:36] cassininazir commented on #8
_From @vivraman on February 9, 2015 17:45_

Channel is ready to go up except artwork, waiting for Stephanie to get back to me so I can add that.

[2015-03-02 20:36] cassininazir commented on #8
From convo with Scot:

- Will have podcasts with the experimenters discussing content (this will actually go into the Sound and Data channel)
- Will also need to have the Experimental space go up at the same time that the podcast goes up

[2015-03-02 20:36] cassininazir commented on #8
@heiwanalady's artwork is being finalized. Don't publish until we have first podcast.

[2015-03-02 20:37] cassininazir opened #9 "Get Radio Play from Scot Gresham-Lancaster"
_From @cassininazir on January 28, 2015 18:52_

Scot mentioned that students worked on a radio play (I may have the name wrong). Email Scot requesting this by Friday, Jan. 30.

_Copied from original issue: cassininazir/creativedisturbance#65_

[2015-03-02 20:37] cassininazir commented on #9
_From @vivraman on January 30, 2015 17:8_

Update: he has "some radio play related material but its not ready yet"; he said he'll let us know when it's ready.

I'll probably bug him again in a week or so.

[2015-03-02 20:37] cassininazir opened #10 "Create Guidelines for Experimental Space"
_From @cassininazir on January 28, 2015 18:51_

Write up a concise overview of what should be included in the Experimental Space. To get us started:

- Curated by CD Team, not crowdsourced by community - at least to begin with (may change this in long-run)
- Might include features for the website (alpha testing)
- Side projects that members are working on
 + Projects in spare time
 + Ideas that ar

[2015-03-02 20:37] cassininazir commented on #10
From Jan. 30 meeting: create a Google doc with this information.
- Include Big Design mini-talks in the experimental space.
- Email to producers to inform them that this is available
- Do a podcast to intro the Experimental space.
- Should also include a form to receive ideas --

[2015-03-02 20:37] cassininazir commented on #10
Create a Google Drive document with this info and we can now update there.

[2015-03-02 20:37] cassininazir opened #11 "Breakdown Steps Needed to Create Community Building Plan with Cassini"
_From @cassininazir on January 28, 2015 18:40_

**Discover**
0. Business Model Canvas
1. Data audit of current information available from various online resources
2. Identify information we need
3. Identify measures of success, metrics
4. Benchmark: competition/collaborators
5. Conduct ethnographic research with local users to test our persona hypothesis
6. Develop survey for non-local group to le

[2015-03-02 20:37] cassininazir commented on #11
Thoughts from 30 Jan. meeting:

- Letters of introduction have more cache than generic emails. Email of introduction.
- How to create a portrait of the community
- "Featured ears" is it possible to identify listeners on the website and say here's who is listening

[2015-03-02 20:37] cassininazir commented on #11
We need to flesh out how to best communicate with producers and how often. Perhaps monthly to update them and check if they have anything upcoming.

[2015-03-02 20:37] cassininazir commented on #11
Discuss with Max Schich how to visual this information and make sense of it.

[2015-03-02 20:37] cassininazir commented on #11
INclude international members in user testing.

[2015-03-02 22:03] cassininazir opened #12 "Identify Data Points Needed"
Having completed the data audit, now give thought to what data points we are missing or needed. For example, as data that we'd like to have that is missing: who is listening to each podcast? At what timestamp do people stop listening?

[2015-03-02 22:04] cassininazir opened #13 "Breakdown Steps Needed to Create Community Building Plan with Cassini"
**Discover**
0. Business Model Canvas
1. Data audit of current information available from various online resources
2. Identify information we need
3. Identify measures of success, metrics
4. Benchmark: competition/collaborators
5. Conduct ethnographic research with local users to test our persona hypothesis
6. Develop survey for non-local group to learn about usage patterns, website effectiveness,

[2015-03-02 22:04] cassininazir opened #14 "Channel + Primary Channel Duplication"
_From @cassininazir on February 9, 2015 19:32_

We need to make the process of a podcast appear in two Channels easier. The "channel + primary channel" tags should not require an admin to create two separate posts. Can we:

- Change "Channel" to "Primary Channel"
- Change "Primary Channel" to "Secondary Channel"
- Make "Secondary Channel" optional
- Make anything with a "Secondary Channel" appear

[2015-03-02 22:04] cassininazir commented on #14
_From @sayloo on February 12, 2015 21:42_

1. Changed "Channel" to "Primary Channel"
2. Changed "Primary Channel" to "Secondary Channel"
3. Made "Secondary Channel" optional
4. This cannot be done. We cannot make a post appear in 2 different channels with just one post in wordpress.

[2015-03-02 22:04] cassininazir commented on #14
How is this different from tagging? Using WordPress tags I can make a post appear in multiple contexts. This has to be possible.

[2015-03-02 22:04] cassininazir commented on #14
Implement on production server first.

[2015-03-02 22:05] cassininazir opened #15 "Sort the podcasts based on category/tags"
_From @sayloo on February 2, 2015 17:55_

_Copied from original issue: cassininazir/creativedisturbance#80_

[2015-03-02 22:05] cassininazir commented on #15
Please work on this currently on the dev server. Work with Anvit on fixing Heroku issue.

[2015-03-02 22:05] cassininazir opened #16 "Propose fixes for non-English speaking users"
_From @cassininazir on January 22, 2015 23:39_

When a user clicks on the a flag can you prioritize the podcasts listed on the home page to include that language first? If we do this on the home page, can we do this also on the Disturbances page?

_Copied from original issue: cassininazir/creativedisturbance#50_

[2015-03-02 22:05] cassininazir commented on #16
_From @sayloo on February 2, 2015 17:37_

Try on the production server.

List out the feature on the Disturbances page

[2015-03-02 22:05] cassininazir commented on #16
_From @sayloo on February 2, 2015 17:49_

LATCH ( Location/Language* Alphabetical Time ( New channel but not new podcast) Category Hierarchy )

Alpha | Language -(preferred language)  | Newest

[2015-03-02 22:05] cassininazir opened #17 "Include contact info for producers on the channel page"
_From @cassininazir on January 20, 2015 20:51_

Discussed putting this information on the Producer's profile page. Rather than putting email address in plain text on the page, create a form that would allow individuals to send that person an email without disclosing the email address.

_Copied from original issue: cassininazir/creativedisturbance#42_

[2015-03-02 22:05] cassininazir commented on #17
Status update by Feb. 13

[2015-03-02 22:05] cassininazir commented on #17
_From @sayloo on February 16, 2015 17:53_

Try to get the channel_authors for a channel and get their email addresses.

Also, play with contact Form 7 plugin.

[2015-03-02 22:05] cassininazir opened #18 "Create databases for the new Forms"
_From @sayloo on September 30, 2014 20:47_

_Copied from original issue: cassininazir/creativedisturbance#30_

[2015-03-02 22:05] cassininazir opened #19 "Set up a cron job to update the live server from the production server"
_From @anvit on February 16, 2015 17:57_

_Copied from original issue: cassininazir/creativedisturbance#106_

[2015-03-02 22:05] cassininazir opened #20 "Add DOI functionality to website"
_From @cassininazir on February 3, 2015 20:58_

We need to include a Digital Object Identifier (akin to a permalink) for each podcast. May require a bit of research to implement this functionality.

- www.crossref.org
- http://www.doi.org

_Copied from original issue: cassininazir/creativedisturbance#87_

[2015-03-02 22:05] cassininazir commented on #20
May be a WordPress plugin that has this. KCite plugin?

[2015-03-02 22:05] cassininazir commented on #20
_From @anvit on February 16, 2015 17:39_

Need to purchase DOI from crossref: http://www.crossref.org/02publishers/20pub_fees.html

[2015-03-02 22:05] cassininazir commented on #20
Contacted Matt Makowka about piggy-backing off of the Library's access, if possible. If not, will have Brett purchase

[2015-03-02 22:05] cassininazir opened #21 "Update WordPress to 4.1"
_From @cassininazir on February 2, 2015 17:59_

Investigate what the fallout is of updating.

_Copied from original issue: cassininazir/creativedisturbance#81_

[2015-03-02 22:05] cassininazir commented on #21
_From @anvit on February 2, 2015 18:5_

Issues with updating 'WPBakery Visual Composer' and 'WPMU DEV Dashboard'. Manual update required because of API key error.

[2015-03-02 22:06] cassininazir commented on #21
Theme plugin giving trouble.

- Will need Envato username and API key.
- Will need to duplicate live info on production server.

[2015-03-02 22:06] cassininazir opened #22 "Add AddLibra plugin to Dev Site"
_From @cassininazir on January 27, 2015 20:52_

Let's explore how we can implement the AddLibra embed component. Email and credentials forthcoming.

_Copied from original issue: cassininazir/creativedisturbance#58_

[2015-03-02 22:06] cassininazir commented on #22
Haven't heard back from yet. @cassininazir will check in on status.

[2015-03-02 22:06] cassininazir commented on #22
Sent email on Friday. Will inform you when I hear something new.

[2015-03-02 22:07] cassininazir opened #23 "Research auto post from WordPress to Libsyn (or vice versa)"
_From @cassininazir on January 22, 2015 23:43_

Is it possible to simplify the process of posting from WordPress to Libsyn. The process of updating both WordPress and Libsyn is complicated and introduces the possibility for errors. Would like to see a solution that simplifies this process (not having to login to two places and post the same content) and reduces possibility of errors.

Cursory Goog

[2015-03-02 22:07] cassininazir commented on #23
_From @anvit on February 2, 2015 17:58_

Experiment with python wordpress library and write up a script for reading rss data from libsyn and posting a draft on the wordpress site.

[2015-03-02 22:07] cassininazir commented on #23
A few things that came out of the sound team meeting when adding a new podcast:

- There are two areas for descriptions. Which should the sound team use? (currently using both)
- Can "Topics" be changed to "Keywords" (to match what is in Wufoo form)
- Can "Episode Name" be changed to "Podcast Title"
- "Primary channel" and "Channel" a bit confusing. Can we rename "Channel" to "Secondary Channel" a

[2015-03-02 22:07] cassininazir commented on #23
Make sure we discuss with AUdio team.
URL creation in LibSyn needs to be reflected in WordPress.
When stripping HTML remove styling, etc except for
 - a
 - em, i
 - strong, b
 - p, br
 - img ???

[2015-03-02 22:07] cassininazir commented on #23
The audio team has noticed that when uploading a podcast whose filename has accents, LibSyn will remove the accent from the name. There was a file that the sound team uploaded that worked on LibSyn but when they copied over the name into WordPress, didn't work when the team published. Not sure how this happened, but needs investigation.

[2015-03-02 22:07] cassininazir commented on #23
Comment when you have a alpha to test. Will get the sound team to review and check before we launch.

[2015-03-02 22:07] cassininazir opened #24 "Add in AJAX Audio Player"
_From @cassininazir on January 22, 2015 23:35_

_Copied from original issue: cassininazir/creativedisturbance#49_

[2015-03-02 22:08] cassininazir opened #25 "Create Brand Standards/Style Guide for Creative Disturbance"
_From @cassininazir on February 3, 2015 20:9_

Work with @cassininazir (me!) on a draft of style guide / brand standards.

_Copied from original issue: cassininazir/creativedisturbance#86_

[2015-03-02 22:08] cassininazir opened #26 "Create album artwork for Cellphonia"
_From @cassininazir on January 30, 2015 18:31_

Cellphonia (the cellphone opera channel)

Producer Steve Bull and myself have spent the last decade producing a variety of new forms of "opera" that are linked to cellphone use and the general concept of "opera". We have a collection of results from this work that we would post as "podcasts". Additionally, we plan to supplement these extant mp3s with

[2015-03-02 22:08] cassininazir opened #27 "Dropbox Storage"
_From @porteriffic on February 24, 2015 20:10_

Creative Disturbance shared Dropbox is taking up "free" space on other's Dropbox accounts.

_Copied from original issue: cassininazir/creativedisturbance#114_

[2015-03-02 22:08] cassininazir opened #28 "Add Diversity, Gender Info to Website"
_From @cassininazir on February 13, 2015 18:30_

Add to the About page. This should help members and potential members understand the community. Should demonstrate and encourage diversity.

_Copied from original issue: cassininazir/creativedisturbance#103_

[2015-03-02 22:08] cassininazir opened #29 "Fixes on Forms"
_From @cassininazir on February 9, 2015 20:28_

New Channel form:
Spots for multiple producers and their emails.

Somehow notify main producer that other producers need to fill our their own producer forms.

For the Wufoo New Podcast forms:
Host(if not producer should be required and just changed to "Host"
Guest image should be required

Guest Expertise, Photo, and Bio required for each guest. May

[2015-03-02 22:09] cassininazir opened #30 "Google Analytics Reporting"
_From @vivraman on February 9, 2015 18:33_

Edit Google Analytics to give us auto reports of data that we need (weekly emails, etc).

Involve the rest of the design team with the data we get from these reports.

_Copied from original issue: cassininazir/creativedisturbance#92_

[2015-03-02 22:09] cassininazir opened #31 "Let Producers Know That We Are Working on a Form to Contact Them"
_From @cassininazir on February 2, 2015 18:55_

- To make sure producers are part of the process
- Add to community building plan
- Work with Josephine on this

_Copied from original issue: cassininazir/creativedisturbance#85_

[2015-03-02 22:09] cassininazir commented on #31
@porteriffic I know you will be sending out an email to producers. Would like to include that we will be adding in new functionality to the website to allow visitors to contact them (without disclosing their email addresses).

[2015-03-02 22:09] cassininazir opened #32 "Create a blog post about International Student Grants"
_From @cassininazir on January 30, 2015 19:9_

_Copied from original issue: cassininazir/creativedisturbance#72_

[2015-03-02 22:09] cassininazir opened #33 "Content Audit and Review"
_From @cassininazir on January 30, 2015 18:18_

Detail this.

_Copied from original issue: cassininazir/creativedisturbance#68_

[2015-03-02 22:09] cassininazir opened #34 "Move forms from Wufoo to Google Drive. Integrate with DropBox functionality"
_From @cassininazir on January 30, 2015 16:30_

Until the final online form is complete, let's move to Google Drive. Explore whether it is possible to automatically move forms into the DropBox space so that sound team has an easier time telling whether everything is there so they can begin editing.

_Copied from original issue: cassininazir/creativedisturbance#67_

[2015-03-02 22:09] cassininazir commented on #34
Have completed four of the forms so far.

[2015-03-02 22:09] cassininazir opened #35 "Create email addresses for sound design team"
_From @cassininazir on January 27, 2015 18:44_

Please login to the Cpanel and create email addresses for:

hal@creativedisturbance.org
josephine@
ashton@
corey@

_Copied from original issue: cassininazir/creativedisturbance#57_

[2015-03-02 22:09] cassininazir commented on #35
Will discuss with the sound team whether they'd like to do this.

[2015-03-02 22:09] cassininazir opened #36 "Develop user survey"
_From @cassininazir on January 22, 2015 23:43_

_Copied from original issue: cassininazir/creativedisturbance#53_

[2015-03-02 22:09] cassininazir opened #37 "Identify local listeners (non-UT Dallas) for ethnographic research"
_From @cassininazir on January 22, 2015 23:40_

_Copied from original issue: cassininazir/creativedisturbance#51_

[2015-03-02 22:09] cassininazir opened #38 "Create Community Building Plan"
_From @cassininazir on January 22, 2015 18:31_

This should identify ways to foster a community among the disturbers. Not all preliminary research needs to be complete as this can be a living document.

_Copied from original issue: cassininazir/creativedisturbance#44_

[2015-03-02 22:09] cassininazir opened #39 "Create Communication Plan"
_From @cassininazir on January 22, 2015 18:29_

- Identify our methods of communication (email, website, social media, etc)
- Frequency of communication
- Methods of communication during the Podcast Production Process

_Copied from original issue: cassininazir/creativedisturbance#43_

[2015-03-02 22:10] cassininazir opened #40 "cant edit pdf file with productiojn process"
_From @rmalina on February 24, 2015 19:54_

this document is a pdf and the editors cant edit when they find a problem

https://drive.google.com/drive/#search?q=cd%20production%20process

can this be put in a gdrive so people can edit it

roger

_Copied from original issue: cassininazir/creativedisturbance#113_

[2015-03-02 22:10] cassininazir opened #41 "Create International Student Grant Form"
_From @cassininazir on February 10, 2015 20:27_

Use Google Forms to create the form

_Copied from original issue: cassininazir/creativedisturbance#97_

[2015-03-02 22:10] cassininazir opened #42 "Show a selected language's podcasts first"
When a user selects a language, show podcasts in the selected language at the top followed by podcasts in other languages.

[2015-03-02 22:10] cassininazir opened #43 "Podcast Categorization"
_From @cassininazir on February 9, 2015 20:36_

Alpha
Language
Newest
By most famous
Most interesting
Most discussed
Most forwarded
Least ?

_Copied from original issue: cassininazir/creativedisturbance#95_

[2015-03-02 22:10] cassininazir opened #44 "Append language to the podcasts"
_From @sayloo on February 9, 2015 18:3_

_Copied from original issue: cassininazir/creativedisturbance#91_

[2015-03-02 22:10] cassininazir commented on #44
_From @sayloo on February 9, 2015 18:3_

Only for non-english podcasts

[2015-03-02 22:10] cassininazir opened #45 "Channel Subscriptions for Users"
_From @vivraman on February 9, 2015 17:49_

Develop a way for specific users to subscribe to channels that they wish to listen to. The user would be notified every time the channel uploads a new podcast.

_Copied from original issue: cassininazir/creativedisturbance#90_

[2015-03-02 22:11] cassininazir opened #46 "Improve 404 Error Page"
_From @cassininazir on February 2, 2015 18:26_

Current 404 Page says "You Broke the Internet" but doesn't help users get to what they were looking for. Perhaps add:

- Search
- Recent podcasts

_Copied from original issue: cassininazir/creativedisturbance#84_

[2015-03-02 22:11] cassininazir opened #47 "Set up a landing page(preview) for Space Art and Culture/Audiolats"
_From @anvit on February 2, 2015 18:11_

Coordinate with Annick Bureaud

_Copied from original issue: cassininazir/creativedisturbance#82_

[2015-03-02 22:11] cassininazir commented on #47
Page is up at http://creativedisturbance.org/audiolats. Let's check in with Sound Team on this.

[2015-03-02 22:11] cassininazir opened #48 "Create Design Process and Principle for Generating New Album Art"
_From @cassininazir on February 2, 2015 17:13_

_Copied from original issue: cassininazir/creativedisturbance#76_

[2015-03-02 22:11] cassininazir opened #49 "Update the Meet the Team Page with New Photos"
_From @cassininazir on January 30, 2015 22:26_

_Copied from original issue: cassininazir/creativedisturbance#75_

[2015-03-02 22:11] cassininazir commented on #49
_From @heiwanalady on February 9, 2015 17:36_

Will need short descriptions of the new sound team!

[2015-03-02 22:11] cassininazir commented on #49
_From @porteriffic on February 23, 2015 19:14_

Hal and Corey posted theirs in GitHub.

[2015-03-03 17:54] cassininazir opened #50 "Usage Patterns"
_From @cassininazir on January 30, 2015 19:57_

- People who come to the website to listen on mobile devices (home page has to scroll a great deal)
- Title and descriptions of Non-English podcasts should be written in the language podcast was written in

_Copied from original issue: cassininazir/creativedisturbance#73_

[2015-03-03 17:54] cassininazir opened #51 "Create email addresses for Josephine"
_From @cassininazir on January 27, 2015 18:43_

_Copied from original issue: cassininazir/creativedisturbance#56_

[2015-03-03 17:54] cassininazir opened #52 "Enable custom meta descriptions for each channel and podcast"
This will help immensely with SEO. Use the < meta name="description" content=" " > for

- **Channels** should be the unique description
- **Podcasts** should be the unique podcast description. If unavailable, use the channel description.

[2015-03-03 17:54] cassininazir opened #53 "Community Building via Buddypress"
BuddyPress plugin has been installed on the production server. http://buddypress.com

This task is to

1. Get Buddypress working!
2. Move current users from WP Members to BuddyPress
3. Create interactions among community members

[2015-03-03 19:50] cassininazir opened #54 "International Women's Day Podcast Page"
Podcasts to be included:

1. Birds of Change with Nil Arsala *(Bold Roast)* - Published 3/6
2. Margaret Schdele *(Sound Data)* - Already published
3. **Roots of Curiosity Conference with Patricia Correia** *(Bold Roast)*  - Portuguese, EN - Publish 3/8
4. Paulina Oliveros *(Sound Data)* - Publish 3/8
5. **Personalized Learning Using Modeling** *(Voices of the Crowd)* - Publish 3/8
5. Dark Matter i

[2015-03-03 20:02] heiwanalady commented on #26
This is done, by the way. It's been uploaded into the Album Artwork folder in the Gdrive for a week or so.

[2015-03-03 20:14] cassininazir commented on #54
Changes to the following pages.

Home Page
- Banner or graphic: Creative Disturbance Celebrates International Women's Day, March 8
- Featured Voices - Should be voices from current podcasts

International Women's Day
- Boiler plate content introducing the day
- Podcasts

Social Media
- Use #iwd #womensday #iwd2015

[2015-03-03 21:36] cassininazir commented on #54
@porteriffic page is in production at www.creativedisturbance.org/womensday (must be logged in to view).

[2015-03-04 07:05] vivraman commented on #7
Done. http://creativedisturbance.org/meet-the-team/

[2015-03-04 07:05] #7 closed

[2015-03-04 07:29] vivraman commented on #8
Artwork is up. Channel is ready to publish as soon as we have a podcast for it.

[2015-03-04 13:51] cassininazir commented on #8
This looks great. A few minor changes:

- Make Cathryn Ploehn's name a link to her website at http://cathrynploehn.com/
- Will need to add Chaz Lilly to the list as well

[2015-03-04 14:02] cassininazir commented on #7
This looks great. A few minor changes:

- Make Cathryn Ploehn's name a link to her website at http://cathrynploehn.com/
- Will need to add Chaz Lilly to the list as well

[2015-03-04 19:20] vivraman commented on #7
Done as well.

[2015-03-04 19:21] vivraman commented on #49
This should be done unless I missed something?

@cassininazir confirm?

[2015-03-04 19:21] vivraman commented on #49
Is this complete?

[2015-03-05 06:33] #49 closed

[2015-03-05 23:27] porteriffic commented on #54
Will work on email and send out by tomorrow.

[2015-03-06 02:44] porteriffic opened #55 "Draft pages for "Voices" and "New Post""
Not sure if this is just happening to me, but each time I scroll to the bottom of the page when posting a "Voice" or a "New Post", I am not able to scroll back up. This has happened each time I do this. Is this just my stupid computer? I don't have any page scrolling issues on any other site. Just on WordPress stuff. Is anyone else having this issue?

[2015-03-06 02:55] vivraman commented on #55
it only happens when you update the picture specifically, accessing the
media section while editing a voice or podcast or channel causes it to
disappear
On Mar 5, 2015 8:44 PM, "porteriffic" <notifications@github.com> wrote:

[2015-03-06 02:56] vivraman commented on #55
in other news Nah its not just you
On Mar 5, 2015 8:55 PM, "Vivek Raman" <vivraman@gmail.com> wrote:

[2015-03-06 21:34] heiwanalady commented on #54
![iwd_graphic](https://cloud.githubusercontent.com/assets/6133439/6536787/2032921e-c416-11e4-9012-8bace7f56ced.jpg)
The graphic that will spotlight the homepage - will still need link to the splash page.

[2015-03-06 21:57] #26 closed

[2015-03-07 22:16] porteriffic commented on #54
Email sent out on 3/6.

[2015-03-09 18:15] porteriffic commented on #55
Gotcha! Thank you!

[2015-03-09 18:29] sayloo commented on #55
This is because of the "Transposh" (Language Translation)  plugin which is basically trying to translate the image along with the text. I am not sure if we can avoid this.
If possible, I'll try to come up with a decent workaround.

[2015-03-09 20:20] cassininazir opened #56 "Anthropodcast Channel Artwork"
Expecting a new channel soon from Switzerland. Don't have forms signed yet.

[2015-03-09 20:21] cassininazir opened #57 "Anthropodcast Channel Setup"
@yvantina let us know that we are expecting a new podcast from Switzerland. Have not received forms as of yet.

[2015-03-09 20:49] yvantina commented on #57
@Cassini
** A new Channel to be more precise - they will filled the forms as soon as
possible !
thanks !

yvan

2015-03-09 14:21 GMT-06:00 Cassini Nazir <notifications@github.com>:

--
check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/

[2015-03-09 21:10] vivraman opened #58 "Facebook Post Metadata"
Voices/Channels/Podcasts posted to Facebook have various issues relating to thumbnail and caption metadata. Look into potential solutions.

[2015-03-09 21:14] vivraman commented on #58
Check this out: http://stackoverflow.com/questions/9505327/what-graphic-does-fb-grab

[2015-03-09 21:28] cassininazir commented on #58
Good find. Vivek, could you try to implement this using PHP? Pretty straightforward fix to edit the <head> tag.

@anvit should have the production server up (on Heroku), see the password document for information.

[2015-03-09 21:30] cassininazir commented on #52
Of related interest #58.

[2015-03-09 21:45] cassininazir opened #59 "Schedule Performance Review with Roger - Vivek"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:45] cassininazir opened #60 "Schedule Performance Review with Roger - Anvit"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:46] cassininazir opened #61 "Schedule Performance Review with Roger - Sruthi"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:47] cassininazir opened #62 "Schedule Performance Review with Roger - Stephanie"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:47] cassininazir opened #63 "Schedule Performance Review with Roger - Cassini"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:59] cassininazir commented on #55
We may not be able to fully fix. One workaround to the not being able to scroll issue:

Hit Cmd (or Control on Windows) + F and do a search for the word �Publish�; usually pulls you back to the top of the page and allows you to save the document or as a drafty.

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at Dallas

From: sayloo <notifications@github.co

[2015-03-10 00:56] cassininazir commented on #27
@porteriffic Did we solve this one? Closing this issue. Re-open and comment if we haven't.

[2015-03-10 00:56] #27 closed

[2015-03-10 01:19] porteriffic commented on #27
Not really. We've all agreed to take podcasts off the Dropbox once we are done with them and archive them into the servers at school. We can discuss tomorrow.

[2015-03-10 01:36] heiwanalady commented on #62
Sent an email to Nancy.

[2015-03-10 01:37] heiwanalady commented on #56
Sweet.

[2015-03-10 17:08] cassininazir opened #64 "Change textinput for Channel Names to dropdown in WordPress"
This will make the job of the podcast team easier and prevent issues with name changes.

Also describe how admins can add a new channel.

[2015-03-10 18:38] cassininazir opened #65 "Staff Photos"
Get a picture of:

- @ChazLilly
- @coreysmart92
- @linamoon

[2015-03-10 18:51] cassininazir opened #66 "Add Names under Photos"
Add names under each of their photos. I can show you chow to add.

http://creativedisturbance.org/womensday

[2015-03-10 18:59] cassininazir opened #67 "Earth Day Push"
Drive community to submit podcasts!

[2015-03-10 19:12] cassininazir opened #68 "Create a way for producer nominate individuals to participate in podcast (send to Producers and Podcasts)"
We discussed that at the end of every podcast, producer and guest should generate two people for us to interview. Could you create a Google Form that tracks this info?

Google Drive> Creative Disturbance > Forms

[2015-03-10 19:18] cassininazir opened #69 "Add Stingers to Experimental Space"
Sound team will be working on podcast that explains their stingers.

[2015-03-10 19:22] cassininazir opened #70 "Add Cellphonia to Experimental Space"
Use content from Cellphonia.org. There's a podcast with Steve Bull and Scot that should connect with this.

[2015-03-10 19:32] cassininazir opened #71 "End of Women's Day Month"
After Women's Day ends, post the "celebration" on the Disturbances page for perpetuity. Happens on Wednesday, April 8.

[2015-03-10 19:43] cassininazir commented on #18
Sruthi, could you post the images you took? Would like to make sure we preserve those.

[2015-03-11 03:15] #62 closed

[2015-03-11 20:27] porteriffic commented on #66
Great. I noticed names on the Home Page. Looks great.

[2015-03-12 19:51] sayloo commented on #61
Emailed Nancy.

[2015-03-12 19:51] #61 closed

[2015-03-12 20:47] anvit commented on #21
Production server is up at: http://production.cd2.texashats.org/ running Wordpress 4.1.1. The home page might display a default Wordpress page due to the cache but once logged in, all URLs work correctly.

[2015-03-12 20:47] #21 closed

[2015-03-12 20:52] sayloo commented on #18
![20150302_130949](https://cloud.githubusercontent.com/assets/8712694/6627925/9cc26e4a-c8cf-11e4-879e-a8f642259b22.jpg)
![20150303_133603](https://cloud.githubusercontent.com/assets/8712694/6627929/a0c894ce-c8cf-11e4-8db5-5ebfc489ea66.jpg)
![20150303_133631](https://cloud.githubusercontent.com/assets/8712694/6627932/a379ad02-c8cf-11e4-84ac-0ed5b4d05070.jpg)
![20150303_133731](https://cloud.githubu

[2015-03-12 20:58] anvit opened #72 "Document process for moving live website updates to production"
Make a Google Doc with detailed steps about moving the live website(database) changes to production migrating the production development changes to the live website.

[2015-03-12 22:54] anvit commented on #72
Done. File: Google docs>4.0 Reference Docs>How to update production and live servers

[2015-03-12 22:54] #72 closed

[2015-03-13 00:08] cassininazir commented on #72
Bellissimo!
________________________________
From: Anvit Srivastav [notifications@github.com]
Sent: Thursday, March 12, 2015 5:54 PM
To: creativedisturbance/public-website
Subject: Re: [public-website] Document process for moving live website updates to production (#72)

Done. File: Google docs>4.0 Reference Docs>How to update production and live servers

�
Reply to this email directly or view it

[2015-03-13 16:32] cassininazir opened #73 "Work with Lina on revamping the ArtSciLab website"

[2015-03-13 17:32] cassininazir opened #74 "Can we add a tag to the Disturbances page for IWD?"
Might be important

[2015-03-13 17:36] cassininazir commented on #10
Make this a high priority - Needs to be done by April 15.
Be ready to present at the next meeting March 27

[2015-03-13 17:52] cassininazir opened #75 "Add list of individuals from Kickstarter page to About Us page"
The "founders" - list of ~100 people

[2015-03-13 21:22] cassininazir commented on #21
Yeah!

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at Dallas

From: Anvit Srivastav <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/public-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thu, 12 Mar 2015 13:47:18 -0700
To: creativedisturbance/public-website <public-website@noreply.github.co

[2015-03-15 01:41] cassininazir commented on #65
Think we got Chaz and Lina on March 11. Should schedule Corey for after the break.

[2015-03-16 16:49] cassininazir commented on #47
This is complete. Live at http://creativedisturbance.org/channel/space-art-and-culture/

[2015-03-16 16:49] #47 closed

[2015-03-16 16:52] cassininazir commented on #51
@porteriffic, this has been created. Info on how to configure.

![screen shot 2015-03-16 at 11 52 16 am](https://cloud.githubusercontent.com/assets/1661430/6671399/f1cf637e-cbd2-11e4-8ced-c79fde9c4720.png)

[2015-03-16 16:52] #51 closed

[2015-03-16 17:04] cassininazir commented on #40
Now a Google Doc at 2.3.0, editable by CD team.

[2015-03-16 17:04] #40 closed

[2015-03-16 17:06] cassininazir commented on #1
This appears to have been taken care of.

[2015-03-16 17:06] #1 closed

[2015-03-16 17:17] cassininazir commented on #44
Add this to the CD 2.2.2.9 process. Title and descriptions should be written in language that the podcast was spoken.

[2015-03-16 17:17] #44 closed

[2015-03-16 18:54] #5 closed

[2015-03-16 19:05] cassininazir commented on #10
Document begun at [CD 6.1 Guidelines for Creative Disturbance Experimental] (https://docs.google.com/document/d/1OxV4grVL9DKbgHxL6oHysl3IpV80L3Bpq0CPi_J2CQk/edit). Please complete by the next group meeting session.

[2015-03-16 19:15] cassininazir commented on #2
Forwarded.

[2015-03-16 19:15] #2 closed

[2015-03-16 19:42] cassininazir commented on #72
Have labeled this doc as 4.2.

[2015-03-23 17:44] cassininazir commented on #22
We heard back from AddLibra. Please work with them to implement.

[2015-03-23 17:46] anvit commented on #23
Alpha is up. Will push to heroku when these issus are taken care of:

Change placeholder to examples and Label's to input descriptions
Use fieldsets to group auto filled and user suggested item seperately
Make Podcast title multi line
Asterisk for required fields
Warning for long podcast titles(>75 char, >60 char):
	Javascript check for long podcast titles and give out warnings there itself.

[2015-03-24 15:28] cassininazir commented on #22
A few pages of examples:

http://production.cd2.texashats.org/podcast/steigler-on-enabling-the-improbable/
http://production.cd2.texashats.org/podcast/roots-of-curiosity-conference-with-patricia-correia-2/

Not sure if we can set to a non-English language using the API.

[2015-03-24 19:12] cassininazir opened #76 "Remove Recording Date from WordPress Podcasts as a required field"
Remove entirely

[2015-03-24 20:02] cassininazir commented on #75
@heiwanalady could you give us the appropriate list?

[2015-03-27 14:05] heiwanalady commented on #75
@cassininazir
Here is the list of Founders (they pledged $20+):

Steven Joscherwitz
Diane Burko
Amy Ho
nina yankowitz
Lindsey Joyce
Christine Bernier
prithvi (no last name available)
Chris Welch
Jose-Carlos Mariategui
Rob La Frenais
Greta Poulsen
Susan Eriksson
Steve DiPaola
Arthur Woods
Richard Clar
Syeda Sarosh Ahmed
Christian La Mont
John Bell
Tiffany Shlain
Mert Iseri
Serge Ruffato
Diane Groma

[2015-03-30 03:53] rmalina opened #77 "language in podcast titles"
we have a real problem that we dont indicate the language of each podcast when we list
it on featured page or under each channel list- its really stupid that you have to click on the podcast itself to figure out what language its in-can we indicate clearly in the TITLE of each podcast what language it is in
roger

[2015-03-30 03:55] rmalina opened #78 "language in podcast titles"
we have a real problem that we dont indicate the language of each podcast when we list
it on featured page or under each channel list- its really stupid that you have to click on the podcast itself to figure out what language its in-can we indicate clearly in the TITLE of each podcast what language it is in
roger

[2015-03-30 03:56] rmalina opened #79 "chrome compatibility"
on line form doesnt work in chrome-make sure new form works on all browsers

[2015-03-30 14:35] cassininazir commented on #79
Will do testing to review this. Was this on your computer or reported from a producer/guest? Would like to reproduce the problem if possible.

[2015-03-30 15:15] rmalina commented on #79
on my computer
roger

On Mon, Mar 30, 2015 at 9:35 AM, Cassini Nazir <notifications@github.com>
wrote:

--
Roger F Malina
is in texas
1-510-853-2007

[2015-03-30 16:44] cassininazir commented on #23
@anvit will upload to Heroku today and we will have the @creativedisturbance/sound team test.

[2015-03-30 16:46] cassininazir commented on #20
@ChazLilly has created proposal for DOI. Will implement once we have the account from CrossRef. @anvit please be ready to implement once this goes thru.

[2015-03-30 16:48] cassininazir commented on #76
What is highlighted in the image below is the recording date (which is manually put in to WordPress). Please:

1. Replace with date published in WordPress
2. And then remove as required field from Podcast Submission Page

![screen shot 2015-03-30 at 11 47 40 am](https://cloud.githubusercontent.com/assets/1661430/6901411/980f80f2-d6d2-11e4-9903-664ad6acdbcb.png)

[2015-03-30 16:52] cassininazir commented on #19
Won't implement. Process for updating is avaialbe at (https://docs.google.com/document/d/1R6H1UITIOH2RRPCST0I9-zAWLIFu7_tCZ2gnjuEBQ4Q/edit) [CD 4.2. ]

[2015-03-30 16:52] #19 closed

[2015-03-30 16:53] cassininazir commented on #24
Won't implement. May re-open at a later date.

[2015-03-30 16:53] #24 closed

[2015-03-30 17:05] sayloo opened #80 "New Forms v1.0 Comments"
http://q1nm62.axshare.com/

Password: ArtSciLab1

[2015-03-30 17:08] heiwanalady commented on #65
Still need @coreysmart92 photo!!

[2015-03-30 17:10] #54 closed

[2015-03-30 17:11] heiwanalady commented on #25
@cassininazir I would love to get this done this week. I'll have something finished to show you by the meeting this Friday.

[2015-03-30 17:15] heiwanalady opened #81 "CF Perks Fulfillment"
T-shirt and sticker designs are completed.
Currently waiting on people to respond to the survey with their t-shirt size and shipping address.

people who haven't responded to survey:
people who have:

[2015-03-30 17:31] cassininazir commented on #25
You showed me a work in progress. Can you point me to where I may find on Google Drive?

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at Dallas

From: Stephanie <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/public-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 30, 2015 at 12

[2015-03-30 17:44] heiwanalady commented on #25
It's not on the Google Drive, yet. I just have a half-finished version. I
will upload when I feel it's more complete.

Oh! Also - I redid that IRIS animation I showed you before. Check it out if
you want! (attached) And let me know what you think. (FYI - they changed
the name to "IRIS Visualization Center")

Best,
Stephanie

On Mon, Mar 30, 2015 at 12:31 PM, Cassini Nazir <notifications@github.com

[2015-03-30 17:50] heiwanalady opened #82 "Rhythmically Inclined Channel Artwork"
Paperwork has been submitted.

Info:
"Podcast channel for the sound production team, mainly focused around music."

Producers:
The entire sound team.

Need inspiration.

[2015-03-30 17:52] #75 closed

[2015-03-30 18:05] anvit commented on #23
Up on heroku at: https://cd-autopost.herokuapp.com/
@creativedisturbance/owners Test it out and post comments/issues here

[2015-03-30 18:59] sayloo commented on #80
Get rid of the podcast date.

[2015-03-30 19:04] cassininazir opened #83 "Nomination Form"
Prep for production!

[2015-03-30 19:28] cassininazir opened #84 "Job Description for New Position"
Will need to get the position out soon. Write up using current docs.

[2015-03-30 19:30] cassininazir opened #85 "Add Marcus Neustetter to Meet the Team Page"
Talk to Roger about his role.

Marcus is setting up a community radio station in Johannesburg as well.

[2015-03-30 19:31] cassininazir commented on #10
Marcus Neustetter would like to do a radio version of Creative Disturbance. Add to experimental list. Not a major push, but add to your agenda.

[2015-03-30 19:53] cassininazir commented on #22
After discussing with Roger, let's create a specific page that lists out books from our guests.

- Bernard Steigler,
- Annick Bureaud, Roger Malina - Meta-Life: Biotechnologies, Synthetic Biology, ALife and the Art, B00LI69BQO (Kindle Edition)
- Water Is in the Air: Physics, Politics, and Poetics of Water in the Arts (Leonardo ebook series)  - B00IFNMLKQ
- Bernard Stiegler, Technics and Time, 1: T

[2015-04-02 17:09] porteriffic opened #86 "RSS Feed"
Scot says you can't subscribe to a specific channel on website. I think it's the issue we talked about a couple weeks ago about Libsyn. There's no meta data and stuff...

[2015-04-03 17:28] cassininazir opened #87 "Blog post about DOI"
Explain what it is, the value and use to the audience.

When something is heavily cited, we offer to host it or archive it.

[2015-04-03 17:29] cassininazir opened #88 "Earth Day Recommended Reading List"
Use AddLibra to list out a recommended reading list for Earth Day (include work from producers and others).

@porteriffic will need your help to get this out via podcasts.

[2015-04-03 17:55] cassininazir commented on #80
- Gender should be drop-down
- Form checking should be
- Add a "Save" button until everything that is required is complete
- Primary language should be drop-down
- "Website" field should be clearer

[2015-04-03 18:01] porteriffic commented on #80
Producer's website
Language - Podcast Form
Multiple audio files
Studio - In Person

[2015-04-03 18:11] cassininazir commented on #73
@linamoon lets' setup a time to discuss.

[2015-04-03 18:42] linamoon commented on #73
Yes, probably sometime next week?

[2015-04-03 18:49] heiwanalady commented on #80
* Needs a "home" button at the top instead of the "back" button on the bottom of the page
* Spaces/text need to be bigger? Idk - design needs work
* Asterisks (or some kind of sign) for mandatory text input fields
* Needs CD logo

[2015-04-05 15:08] rmalina opened #89 "wrong podcast with description"
http://creativedisturbance.org/podcast/the-johannesburg-rocket-factory-2/

this podcast has the wrong description

check wiht yvan tina

roger

[2015-04-06 00:04] yvantina commented on #80
my two cents for the new podcast info form:
- "existing channel (or not)" >> can a podcast be submitted for a channel that does not exist yet ? should this option be available ?
- "add audio file" >> does it implies that one can submit a podcast that has not been edited yet ? if so be careful for podcast in foreign language...I thought Dropbox was intended to be the place where a producer/host can

[2015-04-06 19:06] cassininazir opened #90 "Album Artwork for Noisy People"
Some artwork available here for possible use:

 - http://www.noisypeople.perkis.com/epk.html

[2015-04-06 19:33] cassininazir commented on #89
Discussed at the team meeting today. @creativedisturbance/sound, @coreysmart92, is looking into this.

[2015-04-06 19:34] cassininazir commented on #89
@porteriffic fixed this. Thank you.

[2015-04-06 19:34] #89 closed

[2015-04-06 19:51] cassininazir commented on #90
Just received the form description.

[2015-04-06 20:06] heiwanalady commented on #90
Ok, I have the logo. Just need to communicate with Tim to see if he wants anything specific on the artwork - if not I'll take artistic liberty.

[2015-04-06 20:17] heiwanalady commented on #81
Just got a full cost estimate from the vendor today! Waiting for Roger's approval.

[2015-04-06 20:18] #65 closed

[2015-04-07 19:38] anvit commented on #76
Removed recording date from podcasts. The podcasts will now automatically display the published date.

[2015-04-07 19:38] #76 closed

[2015-04-07 20:40] cassininazir commented on #18
Basic testing for internal team begins - Friday, April 24
QA - April 24-29.
Implement QA fixes April 30-May 7

[2015-04-07 20:47] anvit commented on #64
Add drop down in https://cd-autopost.herokuapp.com instead of Wordpress

[2015-04-07 20:50] sayloo commented on #80
Web Dev Meeting 4/7/15

3 sound files ( 2GB max)
Remove 2nd channel field - New podcast Form
16px font size
Need to figure out storage for audio files
Reference Images instead of podcast artwork
Isotope - Images for About Page
Image --> Photo
New podcast n Guest Form - Test these out by April 24 on the Production Server

[2015-04-07 20:51] cassininazir commented on #20
@ChazLilly has made significant progress. Working through purchasing. Will have something for you soon!

[2015-04-07 20:54] cassininazir opened #91 "RSS Feed for Specific Channels"
Try to do this in LibSyn. Benefits us because we can push to iTunes.

We need feeds for both individual channels and all Creative Disturbance podcasts.

[2015-04-07 22:36] coreysmart92 commented on #80
Sound Team Meeting 4/6/15

-Combine New Producer and New Channel
-Combine New Podcast and Co-Producer
-New Producer Form
  -Change Website to Website (if any)
  -No Podcast Artwork
  -Allow Audio File to have multiple file uploads
  -Change Method of Recording the Podcast to Location
  -Change Method of Recording the Podcast to Online, In Person, and Other

[2015-04-07 22:45] coreysmart92 commented on #80
Sound Team Meeting 4/6/15

Change the Guest Release Form to a Voice Form:
-Add Bio
-Add Expertise
-Add Picture
-Keep normal Release Approval
-Link to New Podcast and New Channel Forms similar to WordPress

[2015-04-09 22:06] cassininazir commented on #70
Page is up at http://x.creativedisturbance.org/project/cellphonia.  A few things to change:

- Add play/pause button.
- Who did it? Add author(s) with links to their personal website(s)
- Need intro to explain what this is.
- Link to podcast on CD
- Add quote from NYT (see page at http://cellphonia.org/listen)
- This is the link to the audio file to be included: http://o-art.org/music/Cellphonia1.

[2015-04-09 22:16] cassininazir commented on #69
- Remove "Check back often for more content!"
- Explain what are stingers ???
- Add names of people who created.
- Change background of SoundCloud - talk to @heiwanalady if a new graphic image is needed. Give her enough lead time.
- Talk to @porteriffic, @coreysmart92 about timeline for stingers. We can add new stingers as they become available.
- If you like, ask @linamoon to stage a photo of sou

[2015-04-09 22:18] vivraman commented on #69
![20150409_171318](https://cloud.githubusercontent.com/assets/8704629/7078177/638c8a16-dedc-11e4-9b8b-9c402247f8c0.jpg)

[2015-04-09 23:03] yvantina opened #92 "Podcast covers on Facebook"
Automatic plugin issue on Facebook :
Podcasts are posted with the same cover (space art&culture) since 3 months, reducing significantly our attractiveness .. so can we fix it or assign someone from the production team to manually post each podcast with the right information ?

[2015-04-10 06:09] vivraman commented on #69
@cassininazir http://propodder.com/2011/05/bumpers-sweepers-stingers-and-drops/

maybe we should consider changing the terminology we use, instead of stinger use something else? let me know what you think

[2015-04-12 06:03] vivraman commented on #6
We are currently past this stage

[2015-04-12 06:03] #6 closed

[2015-04-12 06:07] vivraman commented on #8
Changes made.

[2015-04-12 06:07] #8 closed

[2015-04-12 21:05] porteriffic commented on #85
I've started a draft for him. I was wondering if we need to give him a different bio by stating his involvement with Creative Disturbance and UTD.

[2015-04-12 21:07] porteriffic commented on #85
Okay turns out I can't save him as a draft. He's on the Meet the Team page but I will need to update his bio a little bit this week.

[2015-04-13 03:42] rmalina opened #93 "error message when i try to go on the cd web site"
i get this error message when i go to the CD web site

Warning: session_start() [function.session-start]: The session id is too long or contains illegal characters, valid characters are a-z, A-Z, 0-9 and '-,' in /home4/atec/public_html/cd/wp-content/plugins/wpmu-dev-facebook/lib/external/facebook.php on line 60

roger

[2015-04-13 16:08] cassininazir commented on #93
I�m disabling this plug-in until we can get to the bottom of it. It seems to have disabled the error message.

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at Dallas

From: rmalina <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/public-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Sunday,

[2015-04-13 20:20] #71 closed

[2015-04-14 16:17] cassininazir commented on #66
Closing this one.

[2015-04-14 16:17] #66 closed

[2015-04-14 16:57] cassininazir commented on #69
Run this by the @creativedisturbance/sound team.

[2015-04-14 17:06] cassininazir opened #94 "Changes to Experimental Space"
- Remove “test” items in portfolio
- Add link back to Creative Disturbance in main navigation and also in footer
- Top area that says “Creative Disturbance” should append “Experimental” making it “Creative Disturbance Experimental” and linking to Experimental home page.
- Add this to custom CSS: i.ion.ion-ios7-pulse { display: none !important }
- Add tagline to website “Explorations from the Creat

[2015-04-14 20:09] cassininazir commented on #23
Push the changes you've made to the Heroku space.

[2015-04-14 20:12] cassininazir commented on #91
I explored LibSyn. This does not appear to be possible. Please instead create a script that generates the specific feed.

[2015-04-14 20:27] cassininazir commented on #92
Add the Ultimate Facebook plugin to the production server. Create a dummy Facebook page (or you may use your own!) and test this out.

- Use the OpenGraph image textfield to specify the image to be used.
- Setup to autopost to Facebook.

[2015-04-14 20:28] cassininazir commented on #80
Commence ta building!

[2015-04-17 17:57] cassininazir opened #95 "Earth Day Blog Post"
Get a draft started about Earth in the blog. Simple overview:

- Earth Day is April 22 and celebrates [  ]
- We celebrate Earth Day with the following podcasts ...
- This is our second celebration. The first was for Women's Day. More info.

[2015-04-21 06:21] anvit commented on #91
Found a simple hack, Just add ?category='category name' to the end of the feed URL. For e.g.
http://createdisturb.libsyn.com/feed?category=Meta-Life
(works with spaces too!)
http://createdisturb.libsyn.com/feed?category=Indie Game Nation
http://createdisturb.libsyn.com/feed/?category=Noisy People

[2015-04-21 06:21] #91 closed

[2015-04-21 17:47] cassininazir commented on #64
Closing this issue. Once the auto poster is created this will be a non-issue.

[2015-04-21 17:47] #64 closed

[2015-04-21 17:48] cassininazir commented on #60
Completed.

[2015-04-21 17:48] #60 closed

[2015-04-21 18:01] cassininazir commented on #53
This would also include:

1. Registration - New members would register through BuddyPress
2. Confirmation Screen - What page comes up after someone creates an account?
3. Emails - What email(s) get pushed after account creation?

[2015-04-21 18:02] cassininazir commented on #90
Closing this out. The artwork is now live.

[2015-04-21 18:02] #90 closed

[2015-04-21 18:05] cassininazir commented on #86
@anvit discovered this is possible. Use

http://createdisturb.libsyn.com/feed/category/**Category%20Title**

Where **Category%20Title** is the name of the channel with **%20** instead of spaces.

[2015-04-21 18:05] #86 closed

[2015-04-21 18:09] cassininazir commented on #52
This has been fixed with the Facebook Poster.

[2015-04-21 18:20] cassininazir commented on #92
The OpenGraph image should solve the problem we are experiencing where every podcast has the same image when posted to Facebook. In the image below, none of the album artwork is correct.

![screen shot 2015-04-21 at 1 19 44 pm](https://cloud.githubusercontent.com/assets/1661430/7259469/1a3431ba-e829-11e4-8ca7-f3a69dd64ba9.png)

[2015-04-21 18:21] cassininazir commented on #93
@anvit assigning this to you. I turned off the plugin to make sure this error doesn't appear. See if you can re-produce on the production server.

Also, I think this plugin is different from the one we are actually using. Please investigate, and if we are not using this plugin from WPMU, remove from live server.

[2015-04-21 19:55] cassininazir commented on #77
Duplicate of #78.

[2015-04-21 19:55] #77 closed

[2015-04-21 20:11] cassininazir commented on #92
Update: simplest fix is to edit the PHP template to add the follow meta information in the <head> tag:

< meta property="og:image"
content="http://graphics.myfavnews.com/images/logo-100x100.jpg" />

Where the content is the URL of the specific podcast. This way we don't have to use Facebook plugin.

![screen shot 2015-04-21 at 3 10 26 pm](https://cloud.githubusercontent.com/assets/1661430/7261582/

[2015-04-21 21:13] yvantina opened #96 "Aziz Mohamed description"
hey Hal
I've found that the current title and description of "Faire palpiter les sens et retrouver l'intemporel" with Aziz Mohamed doesn't fit with the podcast's content..
can you please find the right podcast info form and use the current title and description for the second part of our discussion which is the other podcast I've done with Chafchaouni..

Again this podcast
http://creativedisturban

[2015-04-22 02:47] cassininazir commented on #67
Complete.

[2015-04-22 02:47] #67 closed

[2015-04-22 03:02] rmalina opened #97 "earth day splash page link broken"
http://creativedisturbance.org/earthday/

[2015-04-22 03:28] cassininazir commented on #95
Prepped. Will publish at 6 am CST on April 22.

[2015-04-22 03:28] #95 closed

[2015-04-22 05:28] cassininazir commented on #92
A good write-up from David Walsh on Open Graph properties.

http://davidwalsh.name/facebook-meta-tags

[2015-04-24 17:09] cassininazir opened #98 "Amartya Sen Podcast"
Let's create momentum around this. We should celebrate on home page.

@ChazLilly let's discuss and plan.

When can we expect the first one to release? Perhaps for our 100th podcast?

[2015-04-24 17:19] cassininazir opened #99 "Let's test the website and podcast through multiple platforms and OSs"

[2015-04-25 17:38] #97 closed

[2015-04-25 21:44] yvantina opened #100 "Voices names on disturbances web page"
@creativedisturbance/developers @creativedisturbance/design
Is there any way to have the names of the voices shown within the disturbance pages ? not within the podcast page, which is already the case but for example here
http://creativedisturbance.org/channel/virtual-africa/
it seems that people have interest in a podcast (not only because of that but also) according to the reputation/notoriety o

[2015-04-27 15:30] cassininazir commented on #100
This is a good idea. @anvit assigning to you for implementation.

[2015-04-27 16:28] yvantina commented on #100
@cassininazir thank you !

[2015-04-27 19:33] cassininazir opened #101 "Investigate plugin that auto creates a bit.ly link"
https://wordpress.org/plugins/bitly/

[2015-04-28 04:25] cassininazir opened #102 "Add names under voices photos"
Working on the production server. Move this functionality to hte live server. http://production.cd2.texashats.org/podcast/ere-spatiale-par-roger-malina/

[2015-04-28 17:14] sayloo commented on #102
Pushed the changes to the live server.

[2015-04-29 16:59] cassininazir commented on #102
Now live. Closing.

[2015-04-29 16:59] #102 closed

[2015-04-29 17:01] cassininazir commented on #100
@yvantina we implemented this for the individual podcasts (see http://creativedisturbance.org/podcast/mapping-the-space-low-tech-for-local-relevances/). @anvit can you take a look at the code Sruthi wrote and also implement for the channel listing page.

[2015-04-29 17:01] cassininazir commented on #88
Closing. Not implemented.

[2015-04-29 17:01] #88 closed

[2015-04-29 17:07] cassininazir commented on #83
Closing. Duplicate of #68.

[2015-04-29 17:07] #83 closed

[2015-04-29 17:12] cassininazir commented on #30
@linamoon Can you assist with this? Assigning you to this because you'll need to do similar work on the ArtSciLab website.

The [Google Analytics Setup Checklist] (http://www.google.com/analytics/learn/setupchecklist.html) is a good starting point.

We need to set key performance indicators (KPI) for the website. This will help @porteriffic in creating the weekly reports.

[2015-04-29 17:13] cassininazir commented on #29
Recorded in #80. Closing this item.

[2015-04-29 17:13] #29 closed

[2015-04-29 17:13] cassininazir commented on #22
Implemented.

[2015-04-29 17:13] #22 closed

[2015-04-29 18:03] yvantina commented on #100
@cassininazir @anvit @sayloo thanks guys ! :)

[2015-04-30 05:15] porteriffic opened #103 "Weird font for Robertina Šebjanič"
The 'S' and 'C' in Robertina's last name are a different font than the rest of the name. Don't know if this can be fixed or not.

[2015-04-30 12:49] rmalina opened #104 "broken link"
the audiolats image doesnt link to the audiolats channel so there is no way for a viweer to click though and see the other audiolats podcasts

http://creativedisturbance.org/podcast/performing-with-jellyfishes-meeting-with-robertina-sebjanic/

does the check list indicate checking that all the linls work before posting ?

roger

[2015-05-07 05:46] cassininazir commented on #104
@anvit can you also investigate this?

[2015-05-07 05:46] cassininazir commented on #103
This appears to be fixed. @porteriffic could you take a screenshot and post? I can't seem to duplicate on my computer.

[2015-05-07 06:01] cassininazir opened #105 "Create user account for Ashton, Cassini to Experimental Space"
Need this one as soon as you can. Create a user account for Ashton and me for Experimental. It seems that you're the only one with access currently.

@amb141330 adding you to keep you in the loop.

[2015-05-07 06:14] anvit commented on #103
I couldn't recreate it on my system either. But seems to be an OS specific font issue. I have this problem on the lab system but not on my laptop. Trying to narrow down the reasons since I think we're using a web font so the OS not having a font shouldn't be an issue.

[2015-05-07 13:38] cassininazir commented on #103
Take a screenshot and attach here.
________________________________
From: Anvit Srivastav [notifications@github.com]
Sent: Thursday, May 07, 2015 1:14 AM
To: creativedisturbance/public-website
Cc: Nazir, Cassini
Subject: Re: [public-website] Weird font for Robertina �ebjani� (#103)

I couldn't recreate it on my system either. But seems to be an OS specific font issue. I have this problem on the la

[2015-05-07 14:02] rmalina opened #106 "recent pocasts page not updated"
corey

the recent podcasts page has not been updated with the podcast
that went up this morning- doesnt the cheat sheet have us checking this ]?

roger

[2015-05-07 14:23] rmalina commented on #106
corey- at monday;s meeting an you all review in DETAIL the check list/cheat sheet that must be completed when a podcast goes up ? i dont understand how these kinds of glitches are occuring if your check list is complete and each of you actually uses the check list
roger

[2015-05-07 14:23] rmalina commented on #106
i just checked- the cinemersia channel also doesnt have the gaucher podcast that i listened to as the new podcast this morning on stitcher- so both the recent podcasts page and the channel page didnt get updated when the new podcast went up
roger

[2015-05-08 01:46] porteriffic commented on #103
![screenshot 17](https://cloud.githubusercontent.com/assets/10836612/7529195/30dc41b8-f4fa-11e4-8a7a-77b770aac67d.png)

[2015-05-08 02:10] porteriffic commented on #104
@cassininazir @rmalina I'm not sure I understand what the problem is. Every time I click the Audiolats image I'm taken to the channel and the podcasts.

[2015-05-08 16:07] porteriffic commented on #106
Roger, someone must have already fixed this. I'm going to go ahead and close this issue. If you're still not seeing the correction, you can reopen the issue.

[2015-05-08 16:07] #106 closed

[2015-05-08 16:11] porteriffic commented on #81
Already have stickers and t-shirts. Will work on putting together packages starting end of next week. Stephanie needs to talk to Nancy/Charlotte about mailing packages internationally. Will have cost estimate for final packaging in a week or two.

[2015-05-08 17:26] rmalina opened #107 "Change update process for 'featured voices'"
the 'featured voices' list is not getting up dated at the same time as the featured pocasts
is getting updated

suggest you modifiy process so that the featured voics are automatically updated with the featured podcasts and are those voices

roger

[2015-05-08 22:02] porteriffic commented on #107
Voices must be updated manually. Will work with dev team to make it so that it is updated automatically.

[2015-05-08 22:07] porteriffic opened #108 "Featured Voices Row"
Last picture glitches when there are 12 voices (2 rows)

[2015-05-08 22:08] #85 closed

[2015-05-11 18:45] cassininazir opened #109 "Procedure for creating Splash page images"
Continue to add to [CD 2.1.5] (https://docs.google.com/document/d/1ZcSPNNKoEBiKdFMP4lEb-QtYoLpFxI_Hg1qgKeDoerg/edit)

[2015-05-12 17:13] cassininazir commented on #103
Closing this. Reopen if needed.

[2015-05-12 17:13] #103 closed

[2015-05-12 17:14] cassininazir commented on #93
This has been resolved. No longer using hte WPMU plugin.

[2015-05-12 17:14] #93 closed

[2015-05-13 20:25] anvit commented on #52
Completed!

[2015-05-13 20:27] anvit commented on #92
I've gone and added the meta tags as per the open graph properties but there isn't a way to test it out unless it starts actually posting to a facebook page. Should we enable the Ultimate facebook plugin before the next podcast goes up and see if it works?

[2015-05-13 20:27] #52 closed

[2015-05-13 20:30] cassininazir commented on #92
Yes! Please, test this out before unleashing upon the world.

Also confirm that the Facebook plugin does not throw any errors or exceptions on the live website.

This will help in our Community Building.

Cassini Nazir

Clinical Assistant Professor,
School of Arts and Technology and Emerging Communication
The University of Texas at Dallas

From: Anvit Srivastav <notifications@github.com<mailto:not

[2015-05-13 20:49] sayloo commented on #80
![2](https://cloud.githubusercontent.com/assets/8712694/7620769/ad93f93a-f987-11e4-9d8b-6b182ca1c216.png)
![3](https://cloud.githubusercontent.com/assets/8712694/7620770/ad951d9c-f987-11e4-9abc-908c54db0681.png)
![4](https://cloud.githubusercontent.com/assets/8712694/7620771/ad960cf2-f987-11e4-9bdb-b97d2b82871f.png)
![1](https://cloud.githubusercontent.com/assets/8712694/7620772/ad997856-f987-11e4

[2015-05-13 20:55] sayloo commented on #80
@cassininazir  - Design of the forms using bootstrap is almost done. Fixing few bugs related to jQuery. Samples of podcast and channel form is attached. I believe it is better to use PHP than rails (rails is faster than PHP) as for the former, anyone can log into phpmyadmin to access all the records. While for the latter, queries have to written to access the database records and field values. I d

[2015-05-13 21:02] cassininazir commented on #80
Wow! Very pleased to hear this.

Agree completely with your choice for PHP/MySQL over Rails.

Post to production server when you feel comfortable with the code. Would like the podcast production team to take a look at it as well.

Cassini Nazir

Clinical Assistant Professor,
School of Arts and Technology and Emerging Communication
The University of Texas at Dallas

From: sayloo <notifications@gith

[2015-05-13 22:40] porteriffic commented on #80
@sayloo @cassininazir Looking forward to trying out the new forms and implementing them! Thank you!

[2015-05-19 04:52] cassininazir opened #110 "Prep Languages for Polyglot Day"
*Close if this is a duplicate. Cant' remember if we tracked this somewhere.*

Please get new languages ready for Polyglot Day. It looks like we may have (@porteriffic please edit this issue to add any languages that we are missing):

- German
- Bengali
- Korean
- Bahasa
- Japanese
- Spanish
- Russian
- Swedish (?)

Parameters:

- New languages should appear in the drop-down list in main navigation

[2015-05-19 04:53] cassininazir commented on #108
Problem appears to arise from length of name. Recommendation is to keep list to 6.

[2015-05-19 04:53] #108 closed

[2015-05-19 04:54] cassininazir commented on #107
@anvit am assigning this to you.

[2015-05-19 04:54] cassininazir commented on #96
@halclark please close if this is taken care of.

[2015-05-19 04:55] cassininazir commented on #78
@coreysmart92 can you review? Can you track down where this is written? If it's not in the tracking sheet, please add.

[2015-05-19 04:58] cassininazir commented on #74
Looks like this wasn't implemented for International Women's Day. But perhaps might be more beneficial to use categories.

https://en.support.wordpress.com/posts/categories-vs-tags/

[2015-05-19 04:58] #74 closed

[2015-05-19 05:17] #59 closed

[2015-05-19 05:18] cassininazir commented on #57
@yvantina any update on the Anthropodcast? May have missed an email about this.

[2015-05-19 06:42] yvantina commented on #57
@rmalina @cassininazir  I sent him a reminder few days ago, given he said he would get the forms filled about two months ago... but Jonathan never followed up with tangible actions ! so..still waiting...

[2015-05-19 16:16] anvit commented on #92
Done setting up meta tags for facebook. Will enable the plugin tonight before the podcast goes live to see if it works.

[2015-05-19 16:36] cassininazir commented on #80
Closing. The forms have been designed. Congrats, @sayloo

[2015-05-19 16:36] #80 closed

[2015-05-19 16:37] cassininazir commented on #14
Forthcoming new forms will also fix this.

[2015-05-19 16:37] #14 closed

[2015-05-19 16:41] cassininazir commented on #18
@anvit have assigned to you and timeline is:

- Complete forms by May 23
- Testing week of May 24

[2015-05-19 20:13] porteriffic commented on #80
Yay! Thank you @sayloo !

[2015-05-21 18:41] anvit commented on #92
Facebook doesn't seem to be picking up the meta tags when auto posting using Ultimate Facebook. Also, Facebook doesn't detect og:image at all. Need to investigate

[2015-05-21 19:24] anvit commented on #18
Researched different methods for Wordpress authentication since creating a custom plugin for forms would take a while. For now, going with standalone website hosted on the production server. Plan to have a rudimentary version up by tomorrow.

[2015-05-23 22:19] yvantina opened #111 "Synthetic Biology: Creating or Constructing Life ?"
@halclark Hey Hal ! is there anyway to change the title as indicated above for Poe and Roosth's podcast ? it makes more sense to me this way.. Thank you !

[2015-05-23 22:44] halclark commented on #111
Sure, will do once I get back to my computer

[2015-05-23 22:47] yvantina commented on #111
@halclark  Cool..

[2015-05-24 01:03] yvantina opened #112 "Title issue with S. B Caroll and Terranova's podcast"
@coreysmart92 @halclark
same podcast published twice with two titles..
check http://creativedisturbance.org/channel/pioneers-and-pathbreakers/

[2015-05-24 01:15] yvantina opened #113 "Title issue with Mohamed Youssef podcast"
@coreysmart92 @halclark @amb141330
hey guys can you please correct this title http://creativedisturbance.org/podcast/recontre-avec-mohamed-youssef-ramimed/
and update to "Rencontre avec Mohamed Youssef" ?
Thank you

[2015-05-24 01:31] yvantina opened #114 "Low-Tech for Local Relevance"
@amb141330 Hey Ashton, can you please update the podcast with Marcus Neustetter as indicated above ? it makes more sense to me this way - much thanks
http://creativedisturbance.org/podcast/mapping-the-space-low-tech-for-local-relevances/

[2015-05-24 01:46] amb141330 commented on #114
Done.

[2015-05-24 01:46] #114 closed

[2015-05-24 01:47] amb141330 commented on #113
Done

[2015-05-24 01:47] #113 closed

[2015-05-24 01:51] yvantina commented on #114
@amb141330 Danke !

[2015-05-24 03:08] porteriffic commented on #110
Still working on coordinating the podcast in Russian. All the other ones are set in motion as far as I know.

The Swedish podcast is highly unlikely, but I'll still try to get one.

[2015-05-24 08:43] halclark commented on #111
Changed the podcast name to "Synthetic Biology: Creating or Constructing Life?". Due to the context, I assumed that you also wanted the question mark included. Is this correct?

[2015-05-24 17:31] yvantina commented on #111
@halclark yes thanks

[2015-05-25 15:19] anvit commented on #18
Database is up on the production server (atec_cd_forms). Currently the forms can be accessed at http://production.cd2.texashats.org/forms/all.php . The forms save the records to the database in a secure manner but some tasks still remain before they can be pushed live(Dynamically populating channels and languages from wordpress database, putting the forms behind a wordpress login).

[2015-05-25 17:04] #111 closed

[2015-05-25 17:10] halclark commented on #112
Verified - exact same podcast. Deleted newer one. Thanks Yvan.

[2015-05-25 17:10] #112 closed

[2015-05-25 17:20] halclark commented on #96
updated title and description, forgot to close.

[2015-05-25 17:20] #96 closed

[2015-05-26 21:04] yvantina opened #115 "Gilles Kounou podcasts"
@amb141330 @coreysmart92
Ashton, Corey this podcast is the second part of my conversation with G.Kounou
http://creativedisturbance.org/podcast/ontologies-vocales-et-technologies-endogenes/
I've indicated 1/2 and 2/2 on the podcast description forms - so it should have 2/2 after the title and come with the right description..
please change accordingly and replace this podcast with the other one = t

[2015-05-26 21:26] yvantina opened #116 "New RAMI Channel"
@cassininazir @heiwanalady @rmalina
Cassini, I've been contacted by Renaud Vercey and Claudine Dussolier this morning for an inquiry about their channel (Stephanie created their logo over 3 months ago). So they have 2 new podcasts both in english and arabic that are ready to be edited/published and are wondering what is the next step..I thought it would be great release those podcasts during the p

[2015-05-26 21:58] heiwanalady commented on #116
Awesome! That's perfect. Let me know if they need help with anything
concerning their album artwork.

Best,
Stephanie

On Tue, May 26, 2015 at 4:26 PM, yvantina <notifications@github.com> wrote:

[2015-05-27 03:06] coreysmart92 commented on #115
@amb141330 @yvantina I have updated both Libsyn and Wordpress, please check (Creative Disturbance) [http://creativedisturbance.org/podcast/ontologies-vocales-et-technologies-endogenes/]and let me know if it is still not correct.

[2015-05-27 05:15] cassininazir commented on #116
We've received the forms for the RAMI channel back in February so **we can create the channel**. We haven't yet received any forms for the podcasts. **Next step is to turn in forms for the two new podcasts.**

[2015-05-27 06:45] yvantina commented on #116
Sounds great ! Thanks

[2015-06-01 21:48] anvit commented on #110
I've prepped all the languages on the production server and I'm set to move it to the live one as soon as we're ready.
I have a question about Bahasa though. I see two kinds: Bahasa Melayu(Malay) and Bahasa Indonesia(Indonesian). Which language is the podcast going to be in?

[2015-06-02 01:45] porteriffic commented on #110
@anvit I'm 99.9% sure it's Bahasa Indonesia. Susan Eriksson said that's where her guest is from.

[2015-06-03 16:23] cassininazir commented on #104
This appears to have been fixed.

[2015-06-03 16:23] #104 closed

[2015-06-03 16:29] coreysmart92 commented on #78
Closing.
The [CD 2.2.2.5 Posting a Completed Podcast] (https://docs.google.com/document/d/124eiA3g5XaeDlbtN-yrAfTi9yVGz-2DwgWn5s0HqnlY/edit) has been updated.

[2015-06-04 02:02] porteriffic opened #117 "Up to date?"
The site looks a little out of date. Here are some things I noticed:

- There are currently 10 podcasts on the channel instead of 9.
- 100th podcast banner is still on the home page.
- Voices are out of date.

@kkondas Was this discussed at Monday's meeting?

[2015-06-04 07:54] rmalina commented on #117
good points ! now that sruthi is gone i suspect we need to review job descriptions to make sure we know who is responsible for the web site updating !
roger

[2015-06-04 16:38] porteriffic commented on #117
@rmalina This is something that's supposed to be checked during the Monday meetings (I wasn't there this past Monday). Also, we've discussed Sruthi's responsibilities before she left and this was not one of them. All of her tasks have been transferred to Anvit.

[2015-06-04 19:23] anvit commented on #110
The languages are all set! @cassininazir Should I wait till Polyglot day to enable those or do you want to enable them immediately.

[2015-06-04 21:27] anvit commented on #42
This is completed. However we need to follow a transposh's language naming scheme for this to work. They use 2 lower case letter to represent all languages (For eg: en for English, fr for French, es for Spanish). Currently there is absolutely no consistency in the way languages are filled out(For example we have EN, en, English)

[2015-06-04 21:33] anvit commented on #92
Enabling Ultimate facebook temporarily. Testing out some open graph meta tags with the Dhameen Ansari podcast

[2015-06-05 08:53] rmalina commented on #117
its really getting ridiculous that our 100th podcast banner has been ip for a month
can i suggest that the monthly banner only be up for a week ?

roger

[2015-06-05 19:16] porteriffic commented on #116
I can start working on getting the channel up as soon as Monday.

[2015-06-05 19:56] heiwanalady commented on #117
@rmalina @porteriffic @amb141330 @cassininazir
Went ahead and took the banner down.

[2015-06-05 22:49] anvit commented on #18
The forms now use wordpress authentication(i.e. You must be logged into the wordpress site to access the forms). They can be accessed at http://production.cd2.texashats.org/forms/ .

[2015-06-05 22:50] rmalina commented on #18
i tried the links and they just took me to the cd web site
the new forms dont work
roger
please check again

[2015-06-05 22:51] rmalina commented on #18
even weirder
the link takes me to international womens day banner
roger

[2015-06-05 23:12] anvit commented on #18
Yes, that is because you need to be signed-in to access the forms. (I will put up a warning/alert in order to avoid confusion if someone tries to access is without being signing-in). Also, currently this is hosted on our production server which is for our internal testing purposes, hence it isn't updated and still has the women's day banner.

[2015-06-09 23:21] heiwanalady commented on #18
Worked for me (when I signed in!)
See screenshot below

One small thing: I don't like both of the logo marks sitting on top of each
other. I'd say just use the wordmark and leave out the symbol.

​

On Fri, Jun 5, 2015 at 6:12 PM, Anvit Srivastav <notifications@github.com>
wrote:

[2015-06-16 16:31] anvit commented on #92
The FB auto post plugin doesn't seem to be working correctly. Attempted correcting the podcast covers with both - script generated open graph meta tags and the meta tags from the plugin sidebar.

[2015-06-18 22:07] yvantina commented on #116
@porteriffic @heiwanalady @cassininazir @coreysmart92 @amb141330
Josephine, any update on that ? can the RAMI channel be ready for next week ? I told them it would be up for polyglot day.. Also, did the sound team received all the forms for the podcasts ? meanwhile I suggest you create a new RAMI folder on Dropbox which would allow them to upload their own files without having to go through severa

[2015-06-23 22:16] #110 closed

[2015-06-25 19:33] anvit commented on #92
Fixed the open graph meta tags. Facebook should automatically grab the correct image while posting now.

[2015-06-25 21:03] cassininazir commented on #105
Accounts created. Ashton has admin access.

[2015-06-25 21:03] #105 closed

[2015-06-25 21:05] cassininazir commented on #117
Home page has been updated. Closing this task.

[2015-06-25 21:05] #117 closed

[2015-06-25 21:05] cassininazir commented on #73
Closing this. Reminder to self that future tasks can be added to github.com/artscilab for ArtSciLab task management.

[2015-06-25 21:05] #73 closed

[2015-06-25 21:05] #63 closed

[2015-06-25 21:06] cassininazir commented on #13
Duplicate of another task. Closing as this is now old.

[2015-06-25 21:06] #13 closed

[2015-06-25 21:07] #11 closed

[2015-06-25 21:09] cassininazir commented on #9
@amb141330 reassigning this task to you. Scot Gresham-Lancaster students produced a radio play. Please check in with him (via email) to see if it's ready. This can go in the Experimental website.

[2015-06-25 21:09] cassininazir commented on #10
@amb141330 Review the [CD 6.1 Guidelines for Creative Disturbance Experimental] (https://docs.google.com/document/d/1OxV4grVL9DKbgHxL6oHysl3IpV80L3Bpq0CPi_J2CQk/edit). Make any changes to the document you feel are necessary.

Closing this issue in the meantime.

[2015-06-25 21:09] #10 closed

[2015-06-25 21:11] cassininazir commented on #57
Unassigning Vivek from this task. Leaving this open in case the channel forms.

[2015-06-25 21:11] cassininazir commented on #58
@anvit has implemented this recently.

[2015-06-25 21:11] #58 closed

[2015-06-25 21:12] cassininazir commented on #70
Closing since this is on the Experimental space at http://x.creativedisturbance.org/project/cellphonia.

@amb141330, just keeping you in the loop since you are keeper of the Experimental space.

[2015-06-25 21:12] #70 closed

[2015-06-25 21:13] #69 closed

[2015-06-25 21:17] cassininazir commented on #42
Thanks @anvit. Closing this issue since you have completed.

[2015-06-25 21:17] #42 closed

[2015-06-25 21:20] cassininazir commented on #20
Last discussion with Roger was to not implement DOI. Will handle with ArtSciAggregator project with MIT Press.  We may reopen as needed.

[2015-06-25 21:20] #20 closed

[2015-06-25 21:21] cassininazir commented on #35
Created.

[2015-06-25 21:21] #35 closed

[2015-06-25 21:23] cassininazir commented on #56
Closing this until we receive confirmation for the channel.

[2015-06-25 21:23] #56 closed

[2015-06-29 18:47] cassininazir opened #118 "Add page (or info) on how to submit a new podcast"
How do new users or listeners submit a new podcast? Or a even new podcast idea? Create a page for individuals to submit (podcast, ideas) and contact us.

[2015-07-03 10:45] yvantina opened #119 "Update Virtual Africa Producers"
Welcoming Marcus Neustetter on board ! @cassininazir @porteriffic @ChazLilly  @anvit  Do you mind updating this page http://creativedisturbance.org/channel/virtual-africa/  this way as Marcus is co-producing the channel with me now ?  "Hosted by Marcus Neustetter and Yvan Tina"
Please remove Roger's and Annick's name. Thank you !

[2015-07-06 15:42] cassininazir commented on #18
@anvit please indicate on the page that users need to be logged in before they can use the forms. Also, please add a link to the "Create an Account page" here in case a user has no login.

Also, please see (CD 2.2.2.9a Archiving Podcast) [https://docs.google.com/document/d/1IoYkLJMJkRPqp_F7HD6GZE1EBzCghXxbdZ_tiY6MdQU/edit], which addresses where the files should be stored (/public/storage) and nam

[2015-07-06 16:05] cassininazir commented on #18
A few changes:

- Remove username from forms. This should be known since users have had to login.
- Indicate required fields (displays when you submit, but should have a red asterisk next to each required field on page load)
- **New Channel Form**
  - We should already have Producer name and email already. Remove these two from the page.
  - Reference image for the channel, remove 1400 x 1400 requ

[2015-07-08 16:08] yvantina opened #120 "Spelling Mistake - Please correct this title !!!"
http://creativedisturbance.org/podcast/jacques-mandelbrojt-se-rappel-a-voix-haute/
Please update the title into >> "Jacques Mandelbrojt se rappelle à voix haute"
@halclark @coreysmart92 @amb141330

[2015-07-08 16:20] yvantina commented on #120
Please update also the description of the podcast into >>

" Jacques Mandelbrojt est physicien à la retraite de l'Université d'Aix-Marseille mais a eu durant toute sa carrière une vie d’artiste professionel. Il explique sa decouverte personnelle des ressemblances du processus créatif en art et en science. Il relie ainsi les idées de Piaget et de Cézanne qui parlait de “ce que les yeux pensent" alo

[2015-07-08 16:23] yvantina commented on #120
Please update also Jacques Mandelbrojt into >>

"Jacques Mandelbrojt est un artiste et physicien theorique. Il peint depuis 1942 et a participé à de nombreuses expositions artistiques et publié de nombreux articles scientifiques. Il a été professeur é l'Université de Marseille. Sa carriere hybride l’a notamment mené à explorer les processus créatifs en art et en science. Il est éditeur honoraire d

[2015-07-08 21:16] halclark commented on #120
Fixed

2015-07-08 11:23 GMT-05:00 yvantina <notifications@github.com>:

[2015-07-08 22:41] yvantina commented on #120
Not fixed on Home page !

[2015-07-08 23:23] halclark commented on #120
Check again, it is updated for me?

- Hal

On 7/8/15, yvantina <notifications@github.com> wrote:

[2015-07-08 23:30] yvantina commented on #120
Okay cool ! it works for me as well
thanks

2015-07-08 18:23 GMT-05:00 halclark <notifications@github.com>:

--
check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/

[2015-07-12 01:07] yvantina opened #121 "Spelling Mistake - Please correct this description"
@coreysmart92 @halclark @amb141330 @porteriffic
http://creativedisturbance.org/podcast/jacques-mandelbrojt-lecons-de-liberte-fr/
Please update the current description into >>
"Jacques Mandelbrojt est physicien à la retraite de l’Université d’Aix-Marseille mais a eu durant toute sa carrière une vie d’artiste professionel. Le podcast commence avec l’idée de Jacques Monod selon laquelle le processus

[2015-07-13 21:43] cassininazir commented on #18
Please push your latest updates to the production server and comment on what is remaining. I'm adding the following to the list of feature updates:

- Enable "save" functionality
- When a user logins to the page at http://production.cd2.texashats.org/forms/, they should be able to see prior saved forms. See image below for a suggested layout.

![img_0774](https://cloud.githubusercontent.com/assets

[2015-07-15 19:54] halclark commented on #121
Fixed

[2015-07-15 19:54] #121 closed

[2015-07-15 19:54] #120 closed

[2015-07-15 19:55] halclark commented on #116
RAMI channel is up

[2015-07-15 19:55] #115 closed

[2015-07-15 19:56] #100 closed

[2015-07-15 19:56] #82 closed

[2015-07-16 19:47] #92 closed

[2015-07-16 19:54] heiwanalady commented on #81
This task has been 90% completed. T-Shirts and Stickers have been sent to backers who responded to survey in mid June.

New Task is for @linamoon to make sure any "straggler" backers (those who answer the survey late) receives their perks.
I have already discussed with her.

[2015-07-16 19:56] heiwanalady commented on #38
Our current plan document
https://docs.google.com/document/d/1qOUdULI8sq3-Lls5S6obyZDaVqEG_tt4aHdpKh75S5w/edit

[2015-07-16 20:10] rmalina commented on #38
now to actually implement it
can i suggest you create a section where its clear who on our team is individually responsible for implementing which part of this plan ! its a great plan but we certainly arent doing it yet
roger

[2015-07-17 18:53] rmalina commented on #116
the rami channel is already up
http://creativedisturbance.org/channel/rami/
roger

[2015-07-18 08:05] rmalina opened #122 "duplicate forms on line"
anvit cassini
there are two podcast forms on the forms page
which is the right one to use ?

roger

@anvit @cassininazir

[2015-07-18 16:31] anvit commented on #122
That was an error, both of them pointed tot he same location. I've removed the duplicate link.

[2015-07-18 16:31] #122 closed

[2015-07-18 20:04] rmalina opened #123 "guest release for doesnt work for france"
anvit
when i fill out the guest release form and put in france for county
it asks me for state with a list of us states

france doesnt have states

you need to modify the form so when someone is not in usa
they dont get asked for us state

roger
@cassininazir

[2015-07-18 21:12] anvit commented on #123
I've edited the list of states to show 'Not applicable' as an option at the top of the list.

[2015-07-18 21:12] #123 closed

[2015-07-19 07:33] rmalina opened #124 "inform producers of where new forms are"
pleaes inform the producers of where the forms are and ask them to report
any problems

anvit- where are you on being able to save incomplete forms ?
@anvit

roger

tim
i totally apologise for this- you should have received an email as a producer
the forms are now at

http://creativedisturbance.org/forms

anvit is working on improving the forms -and also so you
can save partially completed forms t

[2015-07-20 07:03] halclark commented on #124
This issue was moved to creativedisturbance/podcasts#167

[2015-07-20 07:03] #124 closed

[2015-07-20 07:03] halclark commented on #119
This issue was moved to creativedisturbance/podcasts#168

[2015-07-20 07:03] #119 closed

[2015-07-20 07:03] halclark commented on #11
This issue was moved to creativedisturbance/podcasts#169

[2015-07-20 07:03] halclark commented on #116
This issue was moved to creativedisturbance/podcasts#170

[2015-07-20 07:03] #116 closed

[2015-07-20 07:03] halclark commented on #109
This issue was moved to creativedisturbance/podcasts#171

[2015-07-20 07:03] #109 closed

[2015-07-20 07:03] halclark commented on #107
This issue was moved to creativedisturbance/podcasts#172

[2015-07-20 07:03] #107 closed

[2015-07-20 07:04] halclark commented on #101
This issue was moved to creativedisturbance/podcasts#173

[2015-07-20 07:04] #101 closed

[2015-07-20 07:04] halclark commented on #99
This issue was moved to creativedisturbance/podcasts#174

[2015-07-20 07:04] #99 closed

[2015-07-20 07:04] halclark commented on #98
This issue was moved to creativedisturbance/podcasts#175

[2015-07-20 07:04] #98 closed

[2015-07-20 07:04] halclark commented on #94
This issue was moved to creativedisturbance/podcasts#176

[2015-07-20 07:04] #94 closed

[2015-07-20 07:04] halclark commented on #87
This issue was moved to creativedisturbance/podcasts#177

[2015-07-20 07:04] #87 closed

[2015-07-20 07:04] halclark commented on #84
This issue was moved to creativedisturbance/podcasts#178

[2015-07-20 07:04] #84 closed

[2015-07-20 07:04] halclark commented on #81
This issue was moved to creativedisturbance/podcasts#179

[2015-07-20 07:04] #81 closed

[2015-07-20 07:04] halclark commented on #79
This issue was moved to creativedisturbance/podcasts#180

[2015-07-20 07:04] #79 closed

[2015-07-20 07:04] halclark commented on #78
This issue was moved to creativedisturbance/podcasts#181

[2015-07-20 07:04] #78 closed

[2015-07-20 07:04] halclark commented on #68
This issue was moved to creativedisturbance/podcasts#182

[2015-07-20 07:04] #68 closed

[2015-07-20 07:05] halclark commented on #118
This issue was moved to creativedisturbance/podcasts#183

[2015-07-20 07:05] #118 closed

[2015-07-20 07:05] halclark commented on #57
This issue was moved to creativedisturbance/podcasts#184

[2015-07-20 07:05] #57 closed

[2015-07-20 07:05] halclark commented on #55
This issue was moved to creativedisturbance/podcasts#185

[2015-07-20 07:05] #55 closed

[2015-07-20 07:05] halclark commented on #53
This issue was moved to creativedisturbance/podcasts#186

[2015-07-20 07:05] #53 closed

[2015-07-20 07:05] halclark commented on #50
This issue was moved to creativedisturbance/podcasts#187

[2015-07-20 07:05] #50 closed

[2015-07-20 07:05] halclark commented on #48
This issue was moved to creativedisturbance/podcasts#188

[2015-07-20 07:05] #48 closed

[2015-07-20 07:05] halclark commented on #46
This issue was moved to creativedisturbance/podcasts#189

[2015-07-20 07:05] #46 closed

[2015-07-20 07:05] halclark commented on #45
This issue was moved to creativedisturbance/podcasts#190

[2015-07-20 07:05] #45 closed

[2015-07-20 07:05] halclark commented on #43
This issue was moved to creativedisturbance/podcasts#191

[2015-07-20 07:05] #43 closed

[2015-07-20 07:05] halclark commented on #41
This issue was moved to creativedisturbance/podcasts#192

[2015-07-20 07:05] #41 closed

[2015-07-20 07:06] halclark commented on #39
This issue was moved to creativedisturbance/podcasts#193

[2015-07-20 07:06] #39 closed

[2015-07-20 07:06] halclark commented on #38
This issue was moved to creativedisturbance/podcasts#194

[2015-07-20 07:06] #38 closed

[2015-07-20 07:06] halclark commented on #37
This issue was moved to creativedisturbance/podcasts#195

[2015-07-20 07:06] #37 closed

[2015-07-27 18:57] cassininazir commented on #9
This issue was moved to creativedisturbance/podcasts#203

[2015-07-27 18:57] #9 closed

[2015-07-27 18:58] cassininazir commented on #18
This issue was moved to creativedisturbance/podcasts#204

[2015-07-27 18:58] #18 closed

[2015-07-27 18:58] cassininazir commented on #4
This issue was moved to creativedisturbance/podcasts#205

[2015-07-27 18:58] #4 closed

[2015-07-28 16:22] #36 closed

[2015-08-01 00:00] linamoon commented on #30
@cassininazir Wasn't notified that this was assigned to me since this was around when I first got involved in the lab - need to discuss?

[2015-08-03 15:27] cassininazir commented on #28
This issue was moved to creativedisturbance/podcasts#210

[2015-08-03 15:27] #28 closed

[2015-08-03 15:48] #33 closed

[2015-08-03 15:49] cassininazir commented on #31
Completed in March.

[2015-08-03 15:49] #31 closed

[2015-08-03 15:50] cassininazir commented on #32
This issue was moved to creativedisturbance/podcasts#211

[2015-08-03 15:50] #32 closed

[2015-08-03 15:51] cassininazir commented on #3
Clone of issue in /podcast/issues.

[2015-08-03 15:51] #3 closed

[2015-08-03 15:51] cassininazir commented on #34
Won't implement this. Forms are on Google Drive as a backup.

[2015-08-03 15:51] #34 closed